---
// import { isRenderTemplateResult } from 'astro/runtime/server/render/astro/render-template.js';
import Fieldset from "@components/SimpleFieldset.astro";

interface Props {
  id: string;
  legend: string;
  label: string;
  name: string;
  options: Array<String>;
  required?: boolean;
  call?: string;
}

const { id, legend, label, name, required, call } = Astro.props;
const { options = [] } = Astro.props as Props;

// Unten stehender Part anscheinend nicht notwendig?
// export interface Props {
//   options: Array<string>;
// }

let errorname = id.replace("_produkt_", "_error_produkt_");
---

<div id={name} class="input_form oneColumn"></div>
<Fieldset legend={legend}>
<label for={id}>{label}</label>
<span class="errormessage" id={errorname}></span>
<select class="dropdown h-drop" id={id} name={id} {required} onchange={call} data-required = 'false';>
  <option value="" selected="selected">[Bitte auswählen]</option>
  {options.map((option, index) => <option value={index}>{option}</option>)}
</select>
</Fieldset>
