---
// import { isRenderTemplateResult } from 'astro/runtime/server/render/astro/render-template.js';

interface Props {
  id: string;
  title: string;
  name: string;
  options: Array<String>;
  required?: boolean;
  call?: string;
}

const { id, title, name, required, call } = Astro.props;
const { options = [] } = Astro.props as Props;

// Unten stehender Part anscheinend nicht notwendig?
// export interface Props {
//   options: Array<string>;
// }

let errorname = id.replace("_produkt_", "_error_produkt_");
---

<div id={name} class="input_form oneColumn"></div>
<fieldset>
  <legend>{title}</legend>
  <label for={id}>VVL erfolgreich?:</label>
  <span class="errormessage" id={errorname}></span>
  <select class="dropdown h-drop" id={id} name={id} {required} onchange={call}>
    <option value="" selected="selected">[Bitte auswählen]</option>
    {options.map((option, index) => <option value={index}>{option}</option>)}
  </select>
</fieldset>
