---
interface Props {
  id?: string;
  If: Array<Array<any>>;
  group?: string;
  klasse?: string;
  required?:boolean;
  hidden?:boolean
  setPosSale?: boolean;
}

const {setPosSale, id, If, group, klasse, hidden, required } = Astro.props;
let ifArr = JSON.stringify(If);
let setClass = hidden ? `${klasse ? klasse : ''} d-none` : klasse;
let posSale = setPosSale? "true" : "false";
---
<div 
    {required}
    id={id} 
    class=`ifDiv ${setClass}` 
    data-grp={group} 
    data-if={ifArr}
    data-ps={posSale}  
>
    <slot>
    
    </slot>
</div>
