---
interface Props {
  id: string;
  label: string;
  row: string;
  col: string;
  call?: string;
  value?: any;
  required?: boolean;
  maxlength?: string;
  submitTo?: string;
  klasse?: string;
  hidden?: boolean;
  validate?: string;
}

const { id, label, klasse, row, col, required, maxlength, call, value, submitTo, validate, hidden} = Astro.props;
let errorname = `${id}_errorMsg`;
let KlassenListe = "";
klasse>""? KlassenListe += ` ${klasse}`: undefined;
let hide = hidden ? ` d-none` : "";
let setClass = `${KlassenListe}${hide}`;
---

<div id=`${id}_label` class={hide}>
  <label for={id}>{label}</label>
  <span class="errormessage" id={errorname}></span>
</div>

<textarea
  class={setClass}
  id={id}
  rows={row}
  cols={col}
  value={value}
  {required}
  onblur=`autoResize(${id})`
  maxlength={maxlength}
  data-call={call}
  data-vali = {validate}
  data-required = 'false'
  data-submit = {submitTo}
>
</textarea>
