---
interface Props {
  id: string;
  label: string;
  options?: Array<Array<any>>;
  firstOption?: Array<any>;
  klasse?: string;
  required?: boolean;
  disabled?: boolean;
  call?: string;
}

const { id, label, firstOption, required, disabled, call, klasse } = Astro.props;
const { options } = Astro.props as Props;
// TODO: in anderen Komponenten errorname glattziehen
let errorname = `${id}_errorMsg`;
---

<label for={id}>{label}</label>
<span class="errormessage" id={errorname}></span>
<select
  class=`dropdown h-drop ${klasse}`
  id={id}
  name={id}
  {required}
  {disabled}
  onchange={call}
  data-required = 'false'; 
>
  {
    firstOption ? (
      <option value={firstOption[0]} selected>
        {firstOption[1]}
      </option>
    ) : (
      <option disabled value="" selected>
        [Bitte auswählen]
      </option>
    )
  }

  {options.map((item) => <option value={item[0]}>{item[1]}</option>)}
</select>
