---
interface Props {
  id: string;
  call?: string;
  label: string;
  type?: string;
  klasse?: string;
  value?: any;
  required?: boolean;
  maxlength?: string;
  pattern?: string;
  preset?: string;
  disabled?: boolean;
  blur?: string;
  submitTo?: string;
  validate: string; // txt, email, tel, handy, plz, call
}

const {call, id, label, klasse, type, required, maxlength, pattern, preset, value, disabled, blur, submitTo, validate} = Astro.props; 


let errorname = `${id}_errorMsg`;
let KlassenListe = `input-text`;
klasse>""? KlassenListe += ` ${klasse}`: undefined;
---

<div>
  <label for={id}>{label}</label>
  <span class="errormessage" id={errorname}></span>
</div>

<input
  id={id}
  type={type as "text"}
  class= {KlassenListe}
  value={value}
  {required}
  {disabled}
  name={id}
  maxlength={maxlength}
  pattern={pattern}
  data-preset = {preset}
  onblur={blur}
  data-vali = {validate}
  data-submit={submitTo} 
  data-call={call}
/>
