---
interface Props {
  id: string;
  label: string;
  type?: string;
  value?: any;
  required?: boolean;
  maxlength?: string;
  pattern?: string;
  disabled?: boolean;
  blur?: string;
  validate: String; // txt, email, tel, handy, plz, call
}

const { id, label, type, required, maxlength, pattern, value, disabled, blur, validate} = Astro.props; 


let errorname = `${id}_errorMsg`;
---

<div>
  <label for={id}>{label}</label>
  <span class="errormessage" id={errorname}></span>
</div>

<input
  id={id}
  type={type as "text"}
  class="input-text"
  value={value}
  {required}
  {disabled}
  name={id}
  maxlength={maxlength}
  pattern={pattern}
  onblur={blur}
  data-vali = {validate}; 
/>
