---
interface Props {
  id: string;
  name: string;
  rows: string;
  required?: boolean;
  submitTo?: string;
}

const { id, name, required, rows, submitTo } = Astro.props;
let errorname = `${id}_errorMsg`;
---

<div>
  <label for={id}>{name}</label>
  <span class="errormessage" id={errorname}>
    Pflichtfeld: Neutrales Produkt oder Tarif
  </span>
</div>
<textarea 
  id={id} 
  class="input-textarea" 
  {required} 
  rows={rows} 
  data-required = 'false'
  data-submit={submitTo}
  ></textarea>
