---
interface Props {
  id: string;
  label: string;
  options: Array<Array<any>>;
  firstOption?: Array<any>;
  required?: boolean;
  disabled?: boolean;
  call?: string;
}

const { id, label, firstOption, required, disabled, call } = Astro.props;
const { options } = Astro.props as Props;
let errorname = id.replace("datenerfassung_", "datenerfassung_error_");
---

<label for={id}>{label}</label>
<span class="errormessage" id={errorname}></span>
<select
  class="dropdown h-drop"
  id={id}
  name={id}
  {required}
  {disabled}
  onchange={call}
>
  {
    firstOption ? (
      <option value={firstOption[0]} selected>
        {firstOption[1]}
      </option>
    ) : (
      <option disabled value="" selected>
        [Bitte Auswählen]
      </option>
    )
  }

  {options.map((item) => <option value={item[0]}>{item[1]}</option>)}
</select>
