---
interface Props {
  id: string;
  label: string;
  row: string;
  col: string;
  call?: string;
  value?: any;
  required?: boolean;
  maxlength?: string;
  submitTo?: string;
}

const { id, label, row, col, required, maxlength, call, value, submitTo } = Astro.props;
let errorname = `${id}_errorMsg`;
---

<div>
  <label for={id}>{label}</label>
  <span class="errormessage" id={errorname}></span>
</div>

<textarea
  id={id}
  rows={row}
  cols={col}
  value={value}
  {required}
  maxlength={maxlength}
  onchange={call}
  data-required = 'false'
  data-submit = {submitTo}
>
</textarea>
