---
interface Props {
  call?: string;
  trigger?: Array<Array<any>>;
  id: string;
  label: string;
  load: String;
  required?: boolean;
  requiredValue?: Array<any>;
  preset?: string;
  submitTo?: string;
}

const { call, trigger, id, label, requiredValue, required, preset, load, submitTo } = Astro.props;
let errorname = `${id}_errorMsg`;
let valueArr;
let triggerArr = JSON.stringify(trigger);
if (requiredValue != null) {
  valueArr = JSON.stringify(requiredValue);
  valueArr = valueArr.replace(/&quot;/g, '')
                    .replace(/"/g, '')
                    .replace(/,/g, '.');
}
---

<label for={id}>{label}</label>
<span class="errormessage" id={errorname}></span>
<select class="dropdown h-drop" 
    id={id} 
    name={id} 
    onchange={call}
    {required} 
    data-injection={load} 
    data-required = {valueArr}
    data-trigger = {triggerArr}
    data-preset = {preset}
    data-submit = {submitTo}
  >
  <option disabled value="" selected>[Bitte Auswählen]</option>
</select>
