---
interface Props {
  call?: string;
  trigger?: Array<Array<any>>;
  id: string;
  label: string;
  name: string;
  load: String;
  required?: boolean;
  requiredValue?: Array<any>;
  preset?: string;
}

const { call, trigger, id, label, name, requiredValue, required, preset, load } = Astro.props;
let errorname = `${id}_errorMsg`;
let valueArr;
let triggerArr = JSON.stringify(trigger);
if (requiredValue != null) {
valueArr = JSON.stringify(requiredValue);
valueArr = valueArr.replace(/&quot;/g, '')
                   .replace(/"/g, '')
                   .replace(/,/g, '.');
}
---

<label for={id}>{label}</label>
<span class="errormessage" id={errorname}></span>
<select class="dropdown h-drop" 
    id={id} 
    name={name} 
    onchange={call}
    {required} 
    data-injection={load} 
    data-required = {valueArr};
    data-trigger = {triggerArr};
    data-preset = {preset};
  >
  <option disabled value="" selected>[Bitte Auswählen]</option>
</select>
