---
interface Props {
	title: string;
	campaignNr: string;
	jsFiles: Array<String>;
}

const { title, campaignNr, jsFiles } = Astro.props;
import "../styles/main.scss";
---

<!doctype html>
<html lang="de">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title + campaignNr}</title>

		<!-- Campaign specific file loading -->
			{jsFiles.map((data) => (
			<>
			    <script type="text/javascript" src={`${campaignNr}/js/${data}`}></script></>
			))}
			<script type="text/javascript" 	  src="../../public/include/js/valididator.js"></script>
			<script type="text/javascript" 	  src="../../public/include/js/ttAPIandSQL.js"></script>
			<script type="text/javascript" 	  src="../../public/include/js/element-logic.js"></script>
			<script type="text/javascript" 	  src="../../public/include/js/ttWebFunctions.js"></script>
	</head>
	<body class="">
			
		<slot />
	
		<script>
			document.querySelector("body").style.visibility = "hidden";
			document.querySelector("#loader").style.visibility = "visible";
			window.onload = function() { // Loading-Symbol
    			document.querySelector("#loader").style.display = "none";
				document.querySelector("body").style.visibility = "visible";
				if (import.meta.env.DEV) {
					const newFontUrl = '../include/fonts/otherfont.woff2';
					document.documentElement.style.setProperty('--font-url', newFontUrl);
				}
				createLocalStorage();
			}
			// HotKey event
			let timer = 0;
			document.onkeyup = function(event) {
				event = event || window.event;
				if (event.keyCode === 20) { 
					timer = 0;
				} else if (Global.showDebug) {
					keyUp(event.keyCode);
				}
			};
			document.onkeydown = function(event) {
				event = event || window.event;
				if (event.keyCode === 13 && Global.btnLock) {
					event.preventDefault();  
				// } else if (event.keyCode === 20) { 
				// 	timer++;
				// 	timer===150? callFS() : undefined ;
				}else if (Global.showDebug) {
					keyDown(event.keyCode);
				}
			};
			
			// boot JS
			document.addEventListener('DOMContentLoaded', bootUpAPI);
			document.addEventListener("DOMContentLoaded", function() {

				const dialogList    = document.getElementsByTagName("dialog");
				const showButtonList = document.getElementsByClassName("calldialog");
				const closeButtonList = document.getElementsByClassName("closedialog");

				// "Show the dialog" button opens the dialog modal
				for(let x = 0; x < showButtonList.length; x++) {
					showButtonList[x].addEventListener("click", () => {
						refreshModals()
						dialogList[x].showModal();
						logIntoDebug(`FootBtn - ${showButtonList[x].id}`, `Modal: "<span class='txt--blue'>${dialogList[x].id}</span>" geöffnet`, false);
					});
				}

				// "Close" button closes the dialog
				for(let x = 0; x < closeButtonList.length; x++) {
					closeButtonList[x].addEventListener("click", () => {
						dialogList[x].close();
					});
				}
			});
			// prevent using Buttons via Enter, when focus on element
			document.addEventListener('focusin', function(event) {
				try{
					if(document.activeElement.tagName === ('INPUT')){
						btnLock = true;
					} else {
						btnLock = false;
					}
				}catch(e){};
			});

		</script>
	</body>
</html>
